{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}Contact no !{% endblock %}

{% block top %}<h1>Contact no {{ user.id }}</h1>{% endblock %}

{% block content %}
    {% embed "CoderslabBundle:User:table.html.twig" %}
        {% block tableHead %}{% endblock %}
        {% block tableHeadRest %}
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        {% endblock %}
        {% block tableRows %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.description }}</td>
                <td>photo</td>
                <td>ul. {{ userAddress.street }} {{ userAddress.houseNumber }}/{{ userAddress.flatNumber }}<br>{{ userAddress.city }}</td>
                <td>telefon</td>
                <td>Email</td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}