{% extends "CoderslabBundle:User:base.html.twig" %}

{% block title %}Contact no !{% endblock %}

{% block top %}<h1>Contact no {{ user.id }}</h1>{% endblock %}

{% block content %}
    {% embed "CoderslabBundle:User:table.html.twig" %}
        {% block tableHead %}{% endblock %}
        {% block tableHeadRest %}
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        {% endblock %}
        {% block tableRows %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.description }}</td>
                <td>photo</td>
                <td> {% if userAddress is null %} There is no address
                    {% else %} ul. {{ userAddress.street }} {{ userAddress.houseNumber }}/{{ userAddress.flatNumber }}<br>{{ userAddress.city }}
                {% endif %} </td>
                <td>{% if userPhone is null %}There is no phone number
                     {% else %}nr: {{ userPhone.number }}<br>type: {{ userPhone.type }}
                {% endif %}</td>
                <td>{% if userEmail is null %}There is no email address
                    {% else %}email address: {{ userEmail.address }}<br>type: {{ userEmail.type }}
                {% endif %}</td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}